html {
	height: 100%;
}
body {
    background-color: rgb(75, 54, 33) !important;
    
	margin: 0 0 0 0;
	min-height: 100%;
     padding:0; 
}
#filter {
	margin: 0px 110px 0px 0px;
}
#input-tags-selectized {
	width: 200px important!;
}

#form_review {
	margin: 20px 0px 20px 0px;
display: none;
}

.row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* for centering 3 blocks in the center */
  /* justify-content: space-between; for space in between */ 
  background-color: rgb(75, 54, 33);
}

.rowmap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* for centering 3 blocks in the center */
    /* justify-content: space-between; for space in between */ 
    background-color: rgb(75, 54, 33);
    background-image: url("images/beans-brown-coffee-34085.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    color: blue !important!;
  }

.btn-div {
	margin: 5px;
}
#form_add_cafe {
	margin: 20px 0px 20px 0px;
	display: none;
}

.mainmap {
		height: 600px;
		width:75%;
        float: left;
}
#mapmenu {
		height: 600px;
		width: 25%;
		float: right;
}
#head {
    background-color: rgb(75, 54, 33) !important;
	padding-left: 15px;
	padding-top: 15px;
	
}
.title {
	height: 80px;
	font-size: 50px;
	color: rgb(245, 238, 238) !important;
    text-align:left;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

.selectize-control {
    display: inline-block;
    vertical-align: middle;
}

#mybutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#mybutton2 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#mybutton3 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#mybutton4 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#mybutton5 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.demo-default {
	color: #CCCCCC;
}